.center-content {
    display: flex;
    height: calc(100vh - 96px);
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;

    .scale {
        flex: 1 1 auto;
    }
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.time {
    padding-top: 0.25rem;
    font-size: 0.9em;
}

.source {
    padding-top: 0.25rem;
    opacity: 0.5;
    font-size: 0.8em;
}
