<ion-header>
    <ion-toolbar color="secondary">
        <ion-title>Messstationen</ion-title>
    </ion-toolbar>

    <ion-toolbar color="secondary">
        <ion-searchbar placeholder="Suchen" (ionInput)="performSearch($event)"></ion-searchbar>
    </ion-toolbar>

    @if (loading()) {
        <ion-progress-bar type="indeterminate"></ion-progress-bar>
    }
</ion-header>

<ion-content [fullscreen]="true">
    <ion-refresher slot="fixed" (ionRefresh)="performRefreshAll($event)" [pullMin]="25" [pullMax]="50" />

    <app-error-list (refresh)="performRefresh($event.sourceKey)" />

    @if (favoriteStations().length) {
        <ion-list>
            @if (otherStations().length) {
                <ion-list-header>
                    <ion-label>Favoriten</ion-label>
                </ion-list-header>
            }

            @for (station of favoriteStations(); track station.combinedKey) {
                <app-station-list-item
                    [station]="station"
                    [favorite]="true"
                    (toggleFavorite)="toggleFavorite($event)"
                    (open)="openStation($event)"
                />
            }
        </ion-list>
    }

    @if (otherStations().length) {
        <ion-list>
            @if (favoriteStations().length) {
                <ion-list-header>
                    <ion-label>Stationen</ion-label>
                </ion-list-header>
            }

            @for (station of otherStations(); track station.combinedKey) {
                <app-station-list-item
                    [station]="station"
                    [favorite]="station.favorite ?? false"
                    (toggleFavorite)="toggleFavorite($event)"
                    (open)="openStation($event)"
                />
            }
        </ion-list>
    }
</ion-content>
