<ion-content [fullscreen]="true" class="ion-padding">
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
        <ion-fab-button (click)="openStationList()">
            <ion-icon name="menu-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-loading [isOpen]="!reference" message="Lade ..." duration="3000"></ion-loading>

    <div class="center-content" [class.visible]="reference">
        <app-thermometer [temperature]="station?.mostRecentTemperature ?? 0"></app-thermometer>

        <ion-text class="ion-text-center"><h2>{{reference?.stationName}}</h2></ion-text>

        <ion-text class="ion-text-center">{{reference?.stationSite}}</ion-text>
        <ion-text class="ion-text-center time">{{passedSince}}</ion-text>

        <ion-text class="ion-text-center source" (click)="openSourceLink()">Quelle: {{reference?.sourceName}}</ion-text>
    </div>
</ion-content>
